<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/home.css">
  <link rel="icon" type="image/x-icon" href="./img/brand.png">

  <title>Home</title>
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #a3c4db;">
      <div class="container-fluid">
        <a class="navbar-brand text-muted" href="/site"><img src="./img/brand.png" alt="" srcset="" width="50%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navabNav"
          aria-controls="navabNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-auto" id="navabNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/site/home"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/site/about"><strong>About</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/site/projects"><strong>Projects</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/site/interests"><strong>Interests</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
  <main>
    <div class="container d-flex justify-content-center ">
      <div class="row">
        <div class=" col-lg-6 mb-2">
          <div class="card">
            <img src="./img/education.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-muted">Education</h5>
              <p class="card-text">Courses covered during my bachelors education.</p>
              <div class="card-text">
                <span class="badge rounded-pill bg-secondary p-2">Computer science</span>
                <span class="badge rounded-pill bg-success p-2 mb-2">Software Engineering</span>
                <span class="badge rounded-pill bg-danger p-2 mb-2">Bachelors</span>
              </div>
              <a href="/site/education" class="btn btn-info btn-outline-secondary d-grid gap-1">
                <div>
                  Check out <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>


        <div class="col-lg-6 mb-2">
          <div class="card">
            <img src="./img/cv.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-muted">Curriculum Vitae</h5>
              <p class="card-text">My resume.</p>
              <div class="card-text">
                <span class="badge rounded-pill bg-success p-2 mb-2">Resume</span>
              </div>
              <a href="./data/resume.pdf" target="_blank" class="btn btn-info btn-outline-secondary d-grid gap-1"
                id="download-cv">
                <div>
                  View
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-zoom-in" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    <path
                      d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z" />
                    <path fill-rule="evenodd"
                      d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-2">
          <div class="card">
            <img src="./img/projects.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-muted">Projects</h5>
              <p class="card-text">Group and School related projects.</p>
              <div class="card-text">
                <span class="badge rounded-pill bg-primary p-2 mb-2">Nodejs</span>
                <span class="badge rounded-pill bg-secondary p-2">Java</span>
                <span class="badge rounded-pill bg-success p-2">Python</span>
                <span class="badge rounded-pill bg-danger p-2">MySql & noSql</span>
                <span class="badge rounded-pill bg-danger p-2 mb-2">Agile Development</span>
                <span class="badge rounded-pill bg-danger p-2 mb-2">Group work</span>
              </div>
              <a href="/site/projects" class="btn btn-info btn-outline-secondary d-grid gap-1">
                <div>
                  Check out <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6  mb-2">
          <div class="card">
            <img src="./img/skills.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-muted">Skills</h5>
              <p class="card-text">Programming, devops and engineering skills.</p>
              <div class="card-text">
                <span class="badge rounded-pill bg-primary p-2 mb-2">Check in</span>
              </div>
              <a href="/site/skills" class="btn btn-info btn-outline-secondary d-grid gap-1">
                <div>
                  Check out <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <br>
  <br>
  <br>
  <br>
  <footer class="fixed-bottom border-top bg-light mt-2">
    <!-- <p class="col-md-4 mb-0 text-muted">© 2021 Wills</p> -->
    <ul class="nav d-flex justify-content-around">
      <li class="nav-item "><a href="https://github.com/Willz01" target="_blank" class="nav-link px-2 text-muted"><svg
            height="40" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="40" data-view-component="true"
            class="octicon octicon-mark-github v-align-middle">
            <path fill-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
            </path>
          </svg></a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/ekanem-wills-17we/" target="_blank"
          class="nav-link px-2 text-muted">
          <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" width="40" height="40" id="svg2"
            xml:space="preserve" inkscape:version="0.47 r22583" sodipodi:docname="linkedin.svg">
            <metadata id="metadata17">
              <rdf:RDF>
                <cc:Work rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
              gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
              inkscape:window-width="1920" inkscape:window-height="1124" id="namedview15" showgrid="false"
              inkscape:zoom="5.3940105" inkscape:cx="123.19671" inkscape:cy="75.650418" inkscape:window-x="0"
              inkscape:window-y="25" inkscape:window-maximized="1" inkscape:current-layer="svg2" width="40px" />
            <defs id="defs6">
              <inkscape:perspective sodipodi:type="inkscape:persp3d" inkscape:vp_x="0 : 495 : 1"
                inkscape:vp_y="0 : 1000 : 0" inkscape:vp_z="765 : 495 : 1" inkscape:persp3d-origin="382.5 : 330 : 1"
                id="perspective19" />
              <clipPath id="clipPath20">
                <path d="M 0,1440 0,0 l 1551.6,0 0,1440 L 0,1440 z" id="path22" />
              </clipPath>
            </defs>
            <path
              d="M 37.039208,0 2.9524312,0 C 1.3235483,0 0,1.2910548 0,2.8829991 L 0,37.113601 C 0,38.706945 1.3235483,40 2.9524312,40 L 37.039208,40 C 38.670851,40 40,38.706945 40,37.113601 L 40,2.8829991 C 40,1.2910548 38.670851,0 37.039208,0"
              id="path24" style="fill:#0977b6;fill-opacity:1;fill-rule:nonzero;stroke:none" />
            <path
              d="m 8.8983209,5.5069073 c 1.8965571,0 3.4378691,1.541646 3.4378691,3.4388796 0,1.8989331 -1.541312,3.4407791 -3.4378691,3.4407791 -1.9015569,0 -3.4407023,-1.541846 -3.4407023,-3.4407791 0,-1.8972336 1.5391454,-3.4388796 3.4407023,-3.4388796 m -2.9679588,9.4892677 5.9330849,0 0,19.089132 -5.9330849,0 0,-19.089132"
              id="path26" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
            <path
              d="m 15.584423,14.996175 5.691115,0 0,2.608109 0.07889,0 c 0.791545,-1.500748 2.726936,-3.083292 5.613312,-3.083292 6.007638,0 7.11679,3.953861 7.11679,9.093381 l 0,10.470934 -5.928807,0 0,-9.282975 c 0,-2.214823 -0.04056,-5.062123 -3.082817,-5.062123 -3.087319,0 -3.560063,2.411816 -3.560063,4.901729 l 0,9.443369 -5.928417,0 0,-19.089132"
              id="path28" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
          </svg>
        </a></li>
      <li class="nav-item"><a href="mailto: ekanemwills1@gmail.com" class="nav-link px-2 text-muted"><img
            src="./img/gmail.svg" width="32" height="32" alt="" srcset=""></a></li>
    </ul>
    <span class=" mb-0 text-center d-flex justify-content-center">© 2022 Wills</span>
  </footer>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="./static/home.js"></script>
</body>

</html>